body {
  /* for debugging */
  background-color: red;
}

pre {
  content: initial !important;
  backdrop-filter: none !important;
  user-select: text !important;
}

.file-text-preview.hidden-content:after {
  content: initial !important;
  backdrop-filter: none !important;
  user-select: text !important;
}
